<div class="form">
    <div class="row">
      <div class="large-12 columns sign">
        <h2>Sign up</h2>
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="row">
        <div class="large-12 columns">
          <div class="field">
            <p class="labelo"><%= f.label :email %></p><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
      </div>
    
    <div class="row">
      <div class="large-12 columns">
        <div class="field">
          <p class="labelo"><%= f.label :password %></p>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-2 columns signbutton">
        <div class="actions">
          <%= f.submit "Sign up", class:"button" %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="large-12 columns">
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
