<% if @user.debats.size > 0 %>
	<div class="under">
		<% if @user == current_user %>
		<div class="langu">Your <%= @user.debats.size %> Debates:</div>
		<% else %>
		<div class="langu"><%= @user.debats.size %> debats by <%= @user.name %>:</div>
		<% end %>
		<div id="product">
		  <%= render "debatsuser" %>
		</div>
		<div class="row columns footer">
	      <div class="large-12 columns">
	        <span class="arrow"><%= link_to ' <i class="fa fa-arrow-up"></i>'.html_safe %></span>
	      </div>
	    </div>
		<%= will_paginate @debatsuser %>
	</div>
<% else %>
	<% if @user == current_user %>
		<div class="langu">You don't have debat</div>
	<% else %>
		<div class="langu"><%= @user.name %> hasn't created any debat yet</div>
	<%end%>
<% end %>