<div class="under">
	<div class="langu"><%= @user.debats.size %> debats by <%= @user.name %>:</div>
	<div id="product">
	  <%= render "debatsuser" %>
	</div>
	<div class="row columns footer">
      <div class="large-12 columns">
        <span class="arrow"><%= link_to ' <i class="fa fa-arrow-up"></i>'.html_safe %></span>
      </div>
    </div>
	<%= will_paginate @debatsuser %>
</div>