<%= div_for(reaction) do %>
	<div class="comments_wrapper">
			<div class="said"><span class="comaut"><strong><%= reaction.user.name %></strong></span> said:</div>
			<div class="content"><%= reaction.body %></div>
			<p class="auteur">Submitted <%= time_ago_in_words(reaction.created_at) %> ago 
			<% if reaction.user == current_user %>
				- <span class="black"><%= link_to 'Destroy',reaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></span>
			<% end %>
			</p>
	</div>
<% end %>