<%= div_for(reaction) do %>
	<div class="comments_wrapper">
			<div class="said">By <span class="comaut"><strong><%= link_to reaction.user.name, reaction.user %></strong></span><span class="auteur"> - submitted <%= time_ago_in_words(reaction.created_at) %> ago</span></div>
			<div class="content"><%= reaction.body %></div>
          	
	  			<%= link_to like_reaction_path(reaction), method: :put do %>
	  				<span class="oui"><i class="fa fa-angle-up"></i>Agree</span>
	  				<span class="ouicount"><%= reaction.get_upvotes.size %></span> 
	  			<% end %>
	  		
	  			<%= link_to dislike_reaction_path(reaction), method: :put do %>
	  				<span class="non"><i class="fa fa-angle-down"></i> Don't agree</span>
	  				<span class="noncount"><%= reaction.get_downvotes.size %></span> 
	  			<% end %>
    
			<% if reaction.user == current_user %>
				- <span class="destroy"><%= link_to 'Delete',reaction, method: :delete, data: { confirm: 'Are you sure?' } %></span>
			<% end %>
	</div>
<% end %>