<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="row header expanded columns">
      <div class="large-10 large-centered columns">
        <div class="small-3 columns">
          <h1><%= link_to "Opin", root_path, class: "titlelogo" %><%= link_to "oo", root_path, class:"titleor" %><%= link_to "ks", root_path, class:"titlelogo" %></h1>
        </div>  
        <div class="small-9 columns" id="menutop">
          <% if user_signed_in? %>
            <%= link_to 'Account', edit_user_registration_path, class:"signup" %>
  					<%= link_to 'Sign out', destroy_user_session_path, class:"signin", :method => :delete %>
					<% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "signup" %>
            <%= link_to 'Sign In', new_user_session_path, class: "signin" %>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="ccontenu">  
        <div class="alert" id="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg %>
        <% end %>
        </div>
     
        <div class="row">
          <div class= "large-12 columns">
            <%= yield %>
          </div>
        </div>
      </div>
    <script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 2500);
 })
</script>
  </body>
</html>
