<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <div class="row header">
        <div class="small-6 columns">
          <h1><%= link_to "Opin", root_path, class: "titlelogo" %><%= link_to "oo", root_path, class:"titleor" %><%= link_to "ks", root_path, class:"titlelogo" %></h1>
        </div>  
        <div class="small-6 columns" id="menutop">
          <%= link_to 'Sign Up', new_user_registration_path, class: "signup" %>
          <%= link_to 'Sign In', new_user_session_path, class: "signin" %>
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <% flash.each do |name, msg| %>
    			<%= content_tag(:div, msg, class: "alert") %>
    		<% end %>
  		</div>
		</div>
    
    <%= yield %>

  </body>
</html>
