<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <div class="row header">
        <div class="small-6 columns">
          <h1 class="titlelogo"><a href="#">Opin<span class="titleor">oo</span>ks</a></h2>
        </div>  
        <div class="small-6 columns" id="menutop">
          <a class="signup" href="#">Sign Up</a> 
          <a class= "signin" href="#">Sign In</a>
        </div>
    </div>
    <%= yield %>

  </body>
</html>
