<p id="notice"><%= notice %></p>

<div class="row menugroup">
      <div class="large-2 columns">
        <span id="lang"><%= link_to 'Create a debat', new_debat_path %></span>
      </div>

      <div class="large-8 columns" id="menubox">
          <a href="#">Top</a>
          <a href="#">New</a>
          <a href="#">By country <i class="fa fa-angle-down"></i></a>
      </div>  
    </div>

    <% @debats.each do |debat| %>
      <div class="row">
        <div class="large-9 medium-9 small-12 columns">
          <div class="debat"><%= debat.title %></div>
          <div class="auteur">Submitted <%= time_ago_in_words(debat.created_at) %> ago by <%= debat.user.email %></div> 
      <%= link_to like_debat_path(debat), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= debat.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_debat_path(debat), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Downvote
        <%= debat.get_downvotes.size %>
      <% end %>
        </div>
      </div>
        <%#= link_to 'Show', debat %>
        <%#= link_to 'Edit', edit_debat_path(debat) %>
        <%#= link_to 'Destroy', debat, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%#= link_to 'Create a debat', new_debat_path %>
