<p id="notice"><%= notice %></p>

<div class="row menugroup expanded columns">
      <div class="large-2 columns">
        <span id="lang"><%= link_to 'Create a debat', new_debat_path %></span>
      </div>

      <div class="large-8 columns" id="menubox">
          <a href="#">Top</a>
          <a href="#">New</a>
          <a href="#">By country <i class="fa fa-angle-down"></i></a>
      </div>  
</div>
    
    <div id="products">
      <div class="row expanded columns">
        <div class="large-10 columns">
          <%= render "debats" %>
        </div>
        <div class="large-2 columns">
          <%= image_tag 'http://www.vancebell.com/images/projects_ccd_sips_2009_banner_ads_sheet.jpg' %>
        </div>
      </div>
    </div>
    <%= will_paginate @debats %>
<br>
