<div class="row menugroup">
      <div class="row">
        <div class="large-2 columns">
          <span class="lang"><%= link_to 'Create a debat', new_debat_path %></span>
        </div>
    
        
        <div class="large-8 columns" id="menubox">
            <%= sort_link "cached_votes_total", "By Popularity" %>
            <%= sort_link "created_at", "By Date" %>
            <% if user_signed_in? %>
              <%= link_to 'My debats', current_user %>
            <% end %>
        </div>
      </div>
      
      <div class="row">
        <div class="medium-3 columns">
          <%= form_tag(debats_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Debats " %>
          <% end %>
        </div>
      </div>
</div>




<div id="products">
  <% if @debats.present? %>
    <%= render "debats" %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
</div>

<%= will_paginate @debats %>


<div class="row footer">
  <div class="large-12 columns">
    <span class="arrow"><%= link_to ' <i class="fa fa-arrow-up"></i>'.html_safe %></span>
  </div>
</div>         
       
      
       
<br>

