<div class= "under">
<div id="top"></div>
<div class="row menugroup">
      <div class="large-2 columns">
        <span class="lang"><%= link_to 'Create a debat', new_debat_path %></span>
      </div>

      <div class="large-8 columns" id="menubox">
          <% if user_signed_in? %>
            <a href="#"><%= link_to 'My debats', current_user %> </a>
          <% end %>
      </div>  
</div>

<div id="products">
  <%= render "debats" %>
</div>
 
</div>    

<%= will_paginate @debats %>
    <div class="row columns footer">
      <div class="large-12 columns">
        <span class="arrow"><%= link_to ' <i class="fa fa-arrow-up"></i>'.html_safe %></span>
      </div>
    </div>
         
       
      
       
<br>

