<div class="row">
  <div class="large-9 columns">
    <div class="debatshow">Incidunt cupiditate rerum iste molestiae omnis et rem sequi.</div>
    <div class="desc">Voluptatem architecto voluptatum occaecati totam eum.</div>
    <div class="showauteur">Submitted 3 min ago by blabla</div>
    <div class="buttonsh"><span class="button buttonshow">Oui (350)</span> <span class="button buttonshow">Non (230)</span></div>
    <div class="reactshow">
    <%= @debat.reactions.count %> Reactions<br/>
    <%= render :partial => @debat.reactions %>
    </div>
    <div class="showform">
      <%= simple_form_for [@debat, Reaction.new]  do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "Add Comment", class: "button signbutton" %> 
      <% end %>
    </div>
  </div>
  <div class="large-3 columns">
    <div class="best">Best Reaction:</div>
    <div class="bestcontent">
      Cliche meh readymade migas, wayfarers keytar umami fingerstache pickled retro wolf health goth
    </div>
  </div>
</div>