<div class="row">
  <div class="likeshow">
    <div class="small-1 columns count">
      <span class= "like-<%= @debat.id %>">
        <% if user_signed_in? %>
          <%= link_to like_debat_path(@debat), method: :put, remote: true do %>
            <% if current_user.voted_up_on? @debat %>
              <div class="upcountsign upc-<%= @debat.id %>"><i class="fa fa-angle-up"></i></div>
            <% else %>
              <div class="upcount upc-<%= @debat.id %>"><i class="fa fa-angle-up"></i></div>
            <% end %>
            <div class="ouicount up-<%= @debat.id %>"><%= @debat.get_upvotes.size %></div>
            <div class="oui">Oui</div>
          <% end %>
        <% else %>
          <%= link_to like_debat_path(@debat), method: :put do %>
            <div class="upcount"><i class="fa fa-angle-up"></i></div>
            <div class="ouicount up-<%= @debat.id %>"><%= @debat.get_upvotes.size %></div>
            <div class="oui">Oui</div>
          <% end %>
        <% end %>
      </span>
        
      <span class= "dislike-<%= @debat.id %>">
        <% if user_signed_in? %> 
          <%= link_to dislike_debat_path(@debat), method: :put, remote: true do %>
            <div class="non">Non</div>
            <div class="noncount down-<%= @debat.id%>"> <%= @debat.get_downvotes.size %></div>
            <% if current_user.voted_down_on? @debat %>
              <div class="downcountsign doc-<%= @debat.id %>"><i class="fa fa-angle-down"></i></div>
            <% else %>
              <div class="downcount doc-<%= @debat.id %>"><i class="fa fa-angle-down"></i></div>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to dislike_debat_path(@debat), method: :put do %>
            <div class="non">Non</div>
            <div class="noncount down-<%= @debat.id%>"> <%= @debat.get_downvotes.size %></div>
            <div class="downcount doc-<%= @debat.id %>"><i class="fa fa-angle-down"></i></div>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  
  <div class="large-8 columns middle">
    <div class="debatshow"><%= @debat.title %></div>
    <div class="desc"><%= @debat.description %></div>
    <div class="auteur">Submitted <%= time_ago_in_words(@debat.created_at) %> ago by <span class="pseudo"><%= link_to @debat.user.name, @debat.user %></span></div>
    <div class="reactshow">
    <div class="opishow"><%= @debat.reactions.count %> Opinions<br/></div>
    <%= render :partial => @debat.reactions %>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="showform">
          <%= simple_form_for [@debat, Reaction.new]  do |f| %>
            <%= f.text_area :body %>
            <div class="row">
              <div class="large-4 columns">
                <%= f.submit "Add Comment", class: "button signbutton" %> 
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 columns sidebar">
    <% if @debat.reactions.count <= 3 %>
      And you what do you think?
  
    <%elsif @debat.reactions.count > 3 %>

    <div class="best">Top 3 Best Opinions:</div>
    
     <% @reactionh.each do |bestopin| %>
      <div class="bestcontent">
       <%= bestopin.body %><br>
       <div class="auteur">by <span class="pseudo"><%= link_to bestopin.user.name, bestopin.user %></span></div>
      </div>
     <% end %>
   
  </div>
  <% end %>
</div>